<div>
    <h2 id="page-heading">
        <span>Properties</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-property" [routerLink]="['/property/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Property
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="properties">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="reference"><span>Reference</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="publicationDate"><span>Publication Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoryName"><span>Category Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subject"><span>Subject</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span>Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="location.id"><span>Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let property of properties ;trackBy: trackId">
                <td><a title="{{property.id}}" href="{{property.url}}">{{property.reference}}</a></td>
                <td>{{property.publicationDate | date:'medium'}}</td>
                <td>{{property.categoryName}}</td>
                <td>{{property.subject}}</td>
                <td>{{property.price}}</td>
                <td>{{property.location?.city}} {{property.location?.zipcode}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="properties && properties.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
